
h1,h2,h3,h4,h5,h6 {
    font-family: "Bangers", system-ui;
    font-weight: 400;
    font-style: normal;
}
.w3-sidebar .w3-bar-item p {
    font-size: 18px !important; 
  }
p{
    font-family: "Bebas Neue", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 18px;
}
#myNavbar .w3-bar-item {
    font-family: "Bebas Neue", sans-serif;
  font-weight: 400;
  font-style: normal;
}
.w3-row-padding img {
    margin-bottom: 12px;
}
caption, figcaption {
    font-family: "Bebas Neue", sans-serif;
    font-size: 16px;
    color: #333;
    line-height: 1.5;
    text-align: center; /* Optional: center align the caption */
  }
/* Set the width of the sidebar to 120px */
.w3-sidebar {
    width: 120px;
    background: #ffffff;
}

/* Add a left margin to the "page content" that matches the width of the sidebar (120px) */
#main {
    margin-left: 120px;
}

/* Remove margins from "page content" on small screens */
@media only screen and (max-width: 600px) {
    #main {
        margin-left: 0;
    }
}
